<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GYM
    </ion-title>
    <ion-button slot="start" (click)="toggleMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-button slot="end" href="./home">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let piernascintura of piernascintura">
    <ion-card-header>
      <ion-img [src]="piernascintura.imageURL"></ion-img>
      <ion-card-subtitle>{{piernascintura.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{piernascintura.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{piernascintura.description}}</ion-card-content>
  </ion-card>
</ion-content>
