<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button href="./eleccion">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      GYM
    </ion-title>
    <ion-button slot="end">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-accordion-group *ngFor="let abdominales of abdominales" multiple="true">
  <ion-accordion >
    <ion-item slot="header" >
      <ion-label>{{abdominales.title}}</ion-label>
    </ion-item>
    <ion-item slot="content">
      <ion-card>
        <ion-card-header>
          <ion-img [src]="abdominales.imageURL"></ion-img>
          <ion-card-subtitle>{{abdominales.subtitle}}</ion-card-subtitle>
          <ion-card-title>{{abdominales.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{abdominales.description}} </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-accordion>
</ion-accordion-group>
</ion-content>

<!--<ion-content>-->
<!--  <ion-card mode="ios" href="home" *ngFor="let abdominales of abdominales">-->
<!--    <ion-card-header>-->
<!--      <ion-img [src]="abdominales.imageURL"></ion-img>-->
<!--      <ion-card-subtitle>{{abdominales.subtitle}}</ion-card-subtitle>-->
<!--      <ion-card-title>{{abdominales.title}}</ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content>{{abdominales.description}}</ion-card-content>-->
<!--  </ion-card>-->
<!--</ion-content>-->
