<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GYM
    </ion-title>
    <ion-button slot="start" (click)="toggleMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-button slot="end" href="./home">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>



  <ion-content class="ion-padding">
    <ion-segment color="primary" [(ngModel)]="type" >
<!--    esto iría dentro del ion-segment para comprobar el cambio  (ionChange)="segmentChanged($event)"-->
      <ion-segment-button value="Ejercicios">
        <ion-label>Ejercicios</ion-label>
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="Programar">
        <ion-label>Programar <br>
          rutina</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="type">
      <ion-list *ngSwitchCase="'Ejercicios'">
        <ion-accordion-group *ngFor="let abdominales of abdominales" >
          <ion-accordion toggle-icon-slot="start">

            <ion-item slot="header">
              <ion-label>{{abdominales.title}}</ion-label>
            </ion-item>

            <ion-item slot="content">
              <ion-card>
                <ion-card-header>
                  <ion-img [src]="abdominales.imageURL"></ion-img>
                  <ion-card-subtitle>{{abdominales.subtitle}}</ion-card-subtitle>
                  <ion-card-title>{{abdominales.title}}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  {{abdominales.description}}
                </ion-card-content>

                <ion-chip>
                  <ion-icon name="add-outline" color="dark"></ion-icon>
                  <ion-label>Añadir a mi rutina</ion-label>
                </ion-chip>
              </ion-card>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>

      <ion-list *ngSwitchCase="'Programar'">

          <!-- Toggles in a List -->
          <ion-list>
            <ion-item>
              <ion-label>Alternar ejercicios</ion-label>
              <ion-toggle ></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Turbo boost</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Elige tus días de entreno</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Okay!" ngModel="">
                <ion-select-option value="l">Lunes</ion-select-option>
                <ion-select-option value="m">Martes</ion-select-option>
                <ion-select-option value="x">Miércoles</ion-select-option>
                <ion-select-option value="j">Jueves</ion-select-option>
                <ion-select-option value="v">Viernes</ion-select-option>
                <ion-select-option value="s">Sábado</ion-select-option>
                <ion-select-option value="d">Domingo</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-chip>
              <ion-label type="submit">Guardar rutina</ion-label>
            </ion-chip>
          </ion-list>
      </ion-list>
    </div>

  </ion-content>



