<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1> Elige tu grupo muscular</h1>
  </div>
  <ion-list>
    <ion-item href="./eleccion/pecho">
      <ion-avatar>
        <ion-img src='./assets/img/portada-pecho.jpg'></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding">Pecho</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item href="./abdominales">
      <ion-avatar>
        <ion-img src='./assets/img/portada-abs.jpg'></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding">Abdominales</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item href="./eleccion/piernas-cintura">
      <ion-avatar>
        <ion-img src='./assets/img/portada-pierna.jpg'></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding">Piernas y cintura</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

