<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      rutinas app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Toma Jeroma Pastillas de Goma</strong>
    <p>Esta es la segunda prueba para demostrarte que tenías razón y con la versión desktop va de puta madre <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
